<nav class="bg-yellow-500 text-white px-6 py-4 flex justify-between items-center">
    <h1 routerLink="/" class="text-xl font-bold cursor-pointer">
        Patacones el Pichi 🍟
    </h1>

    <div class="space-x-4">
        <a routerLink="/" class="hover:underline cursor-pointer">Inicio</a>
        <a routerLink="/menu" class="hover:underline cursor-pointer">Menú</a>
        <a routerLink="/pedido" class="hover:underline cursor-pointer">Pedido</a>
        <a routerLink="/contacto" class="hover:underline cursor-pointer">Contacto</a>
    </div>
</nav>